:root {
	--header-height: 4rem;
	--nav-min-width: var(--header-height);
	--nav-max-width: 280px;

	--nav-width: var(--nav-max-width);
	--nav-left: calc(var(--nav-width) * -1);
	--nav-duration: .35s;
	--nav-fold-moving-main: 0;

	&.nav-show {
		--nav-left: 0px;
		overflow: hidden;
	}

	@media (min-width: 992px) {
		--nav-left: 0px;
		--nav-fold-moving-main: 1;

		&.nav-fold {
			--nav-width: var(--nav-min-width);
			nav button {
				--deg: 180deg;
			}
		}
	}
} header {
	height: var(--header-height);
} nav ul .nav-link {
	&:hover {
		color: var(--bs-link-color) !important;
	} &.active:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 0;
		border-left: 2px solid var(--bs-link-color);
	}
} table {
	table.sub {
		tr {
			& > *:not(:first-child) {
				border-left-width: 1px;
			} & > *:not(:last-child) {
				border-right-width: 1px;
			} &:not(:first-child) > * {
				border-top-width: 1px;
			} &:not(:last-child) > * {
				border-bottom-width: 1px;
			}
		} 
	} thead [sort] {
		i {
			transform: rotateX(var(--deg, 0deg)) translateY(-.2rem);
		} &.sorted.reverse {
			--deg: 180deg;
		} &:not(.sorted) label:hover i {
			--bs-secondary-rgb: var(--bs-body-color);
		}
	} tr.details {
		&:not(.show) {
			display: none;
		}
	} th, td {
		padding-left: .75rem !important;
		padding-right: .75rem !important;
	} .minimum {
		width: 0;
	}
} pre, p {
	margin: 0;
}



/* msgbox */
#msgbox-container {
	--margin: 1rem;
	z-index: 99999;

	.msgbox {
		margin: 0px;
		height: 0px;
		min-width: 10rem;
		opacity: 0;
		transition-property: margin, height, opacity;
		transition-duration: .15s;
		transition-timing-function: ease-in-out;

		&.show {
			margin-top: var(--margin);
			height: var(--height, 3rem);
			opacity: 1;
		} .border {
			max-width: 1080px;
		}
	}
}



/* modal */
#penInfoModal {
	.modal-scroll {
		max-height: calc(100svh - var(--bs-modal-margin)*2 - var(--height) - .5rem);
	} #chattingbox-container {
		&, & .tab-content {
			height: auto !important;
		}
	}
} #chattingbox-container {
	article ul:empty:before {
		content: "Empty";
		display: block;
		text-align: center;
		font-style: italic;
		color: var(--bs-secondary);
	} .chat-container.mychat {
		flex-direction: row-reverse;

		.chat-content {
			align-items: flex-end !important;
		}
	}
} .only-vuln ~ * table:not(.sub) > tbody > tr:not(.table-danger):not(.table-danger + .details) {
	display: none;
} .best-suggestion ~ * table:not(.sub) > tbody > tr:not(.best) {
	display: none;
}



/* details page */
#pen_code_container {
	article.pin {
		order: -1;
	}
}



/* play page */
#temp_focus ~ * {
	.tab-pane:not(.active) {
		display: none;
	} #persona-container p {
		margin-bottom: 1rem;
	} #chattingbox-container .tab-content {
		border: 0 !important;
	}

	@media (min-width: 1200px) {
		&.nav-pills {
			display: none;
		} &.tab-content {
			--gap: 1rem;
			display: flex;
			flex-wrap: wrap;
			gap: var(--gap);

			& > * {
				--width: calc((100% - var(--gap)) / 2);
				width: var(--width);
				min-width: var(--width);
				max-width: var(--width);
			} .tab-pane:not(.sub) {
				display: block;
				opacity: 1;
			}
		}
	}
}
