<div id="chattingbox-container">
	<div class="nav nav-tabs p-3 pb-0" role="tablist">
		<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#all-chatting" type="button" role="tab" aria-controls="all-chatting" aria-selected="true">All</button>
		<button class="nav-link" data-bs-toggle="tab" data-bs-target="#blacks-chatting" type="button" role="tab" aria-controls="blacks-chatting" aria-selected="false">Blacks</button>
		<button class="nav-link" data-bs-toggle="tab" data-bs-target="#whites-chatting" type="button" role="tab" aria-controls="whites-chatting" aria-selected="false">Whites & Owner</button>
	</div>
	<div class="tab-content overflow-hidden" style="height: 500px;">
		<div class="sub tab-pane fade p-3 h-100 overflow-auto show active" id="all-chatting" role="tabpanel" aria-labelledby="all-chatting-tab" tabindex="0">
			<article id="all-chatting-container"><ul class="list-unstyled"></ul></article>
		</div>
		<div class="sub tab-pane fade p-3 h-100 overflow-auto" id="blacks-chatting" role="tabpanel" aria-labelledby="blacks-chatting-tab" tabindex="0">
			<article id="blacks-chatting-container"><ul class="list-unstyled"></ul></article>
		</div>
		<div class="sub tab-pane fade p-3 h-100 overflow-auto" id="whites-chatting" role="tabpanel" aria-labelledby="whites-chatting-tab" tabindex="0">
			<article id="whites-chatting-container"><ul class="list-unstyled"></ul></article>
		</div>
	</div>
</div>

<script type="text/javascript">
	const lastChat = {};
	const setChatting_content = function(p_name, c_content, c_datetime, chatbox="all-chatting") {
		if (!c_content || c_content == "<em>None at the moment</em>") return;
		if (chatbox == "all-chatting" && lastChat?.[p_name] == c_content) return;
		lastChat[p_name] = c_content;
		const autoScrollOffset = 10;
		const p_name_os = p_name.replace(/ /g, "_");
		const box = document.getElementById(chatbox);
		const li = document.createElement("li");
		li.innerHTML = `
			<div class="chat-container d-flex gap-2 mb-3" chat="${p_name_os}">
				<div class="chat-profile">
					<img src="${static}/assets/characters/profile/${p_name_os}.png"/>
				</div>
				<div class="chat-content d-flex flex-column align-items-start">
					<p class="p_name fw-semibold">${p_name}</p>
					<div class="c_content border rounded bg-body-tertiary px-2 py-1">${mdToHTML(c_content)}</div>
					<p class="c_datetime text-secondary" style="font-size: .85rem">${toLocaleTimeString(c_datetime)}</p>
				</div>
			</div>
		`;

		const clientHeight = box.querySelector("article").clientHeight;
		const autoScroll = clientHeight - autoScrollOffset < box.clientHeight + box.scrollTop;
		box.querySelector("ul").append(li);
		if (autoScroll) box.scrollTop = clientHeight;
	
		if (chatbox == "all-chatting") {
			isBlack = {{ black_hats | safe }}.includes(p_name);
			setChatting_content(p_name, c_content, c_datetime, `${isBlack ? "blacks" : "whites"}-chatting`);
		}
	}



	const chattingScroll = function({target}) {
		target = document.querySelector(target.getAttribute("data-bs-target"));
		target.scrollTop = target.querySelector("article").clientHeight;
	}
	for (let x of document.querySelectorAll(`button[data-bs-toggle="tab"]`)) {
		x.addEventListener("shown.bs.tab", chattingScroll);
	}
</script>
