{% load static %}

<div id="chattingbox-container">
	<div class="nav nav-tabs p-3 pb-0" role="tablist">
		<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#all-chatting-{{ type }}" type="button" role="tab" aria-controls="all-chatting-{{ type }}" aria-selected="true">All</button>
		<button class="nav-link" data-bs-toggle="tab" data-bs-target="#blacks-chatting-{{ type }}" type="button" role="tab" aria-controls="blacks-chatting-{{ type }}" aria-selected="false">Blacks</button>
		<button class="nav-link" data-bs-toggle="tab" data-bs-target="#whites-chatting-{{ type }}" type="button" role="tab" aria-controls="whites-chatting-{{ type }}" aria-selected="false">Whites & Owner</button>
	</div>
	<div class="tab-content border border-top-0 rounded-bottom overflow-hidden modal-scroll-target" style="height: 550px">
		<div class="sub tab-pane fade p-3 h-100 overflow-auto modal-scroll show active" id="all-chatting-{{ type }}" role="tabpanel" aria-labelledby="all-chatting-tab" tabindex="0">
			<article id="all-chatting-container"><ul class="list-unstyled"></ul></article>
		</div>
		<div class="sub tab-pane fade p-3 h-100 overflow-auto modal-scroll" id="blacks-chatting-{{ type }}" role="tabpanel" aria-labelledby="blacks-chatting-tab" tabindex="0">
			<article id="blacks-chatting-container"><ul class="list-unstyled"></ul></article>
		</div>
		<div class="sub tab-pane fade p-3 h-100 overflow-auto modal-scroll" id="whites-chatting-{{ type }}" role="tabpanel" aria-labelledby="whites-chatting-tab" tabindex="0">
			<article id="whites-chatting-container"><ul class="list-unstyled"></ul></article>
		</div>
	</div>
</div>

<script type="text/javascript">
	function setChatting_content(container, pen_code, p_name, c_content, c_datetime, {mychat=false, chatbox="all-chatting", suffix=""}={}) {
		if (!c_content || c_content == "<em>None at the moment</em>") return;

		const article = container.querySelector(`#${chatbox}${suffix} article`);
		const p_name_os = p_name.replace(/ /g, "_");
		let lastchat = article.querySelectorAll(`ul .chat-container[chat="${p_name_os}"] .chat-content .c_content`);
		lastchat = lastchat[lastchat.length-1];
		c_content = mdToHTML(c_content);
		if (lastchat && lastchat?.innerHTML == c_content) return;

		const date = c_datetime.toLocaleDateString();
		const h = c_datetime.getHours();
		const wm = h < 12 ? "AM" : "PM";
		const time = `${h % 12}:${c_datetime.getMinutes()}:${c_datetime.getSeconds()} ${wm}`;
		if (!article.querySelector(`li[date="${date}"]`)) {
			article.querySelector(`ul`).innerHTML += `<li class="my-1 text-center text-secondary" date="${date}">${date}</li>`;
		}
		const autoScrollOffset = 10;
		const li = document.createElement("li");
		const href = `{% url 'persona_state' 'PenCode' %}?p=${p_name_os}`.replace("PenCode", pen_code);
		li.innerHTML = `
			<div class="chat-container d-flex gap-2 align-items-start mb-3" chat="${p_name_os}">
				<a href="${href}" class="chat-profile bg-body-tertiary p-1 border rounded-circle" data-bs-toggle="tooltip" data-bs-title="State Details">
					<img src="{% static 'assets/characters/profile' %}/${p_name_os}.png"/>
				</a>
				<div class="chat-content d-flex flex-column align-items-start" style="max-width: calc(100% - 8.5rem)">
					<p class="p_name fw-semibold">${p_name}</p>
					<div class="c_content border rounded bg-body-tertiary px-2 py-1">${c_content}</div>
					<p class="c_datetime text-secondary" style="font-size: .85rem">${time}</p>
				</div>
			</div>
		`;
		li.querySelector(".chat-container").classList.toggle("mychat", mychat === true);
		new bootstrap.Tooltip(li.querySelector("a.chat-profile"));

		const clientHeight = article.clientHeight;
		const autoScroll = clientHeight - autoScrollOffset < article.parentNode.clientHeight + article.parentNode.scrollTop;
		article.querySelector("ul").append(li);
		if (autoScroll) article.parentNode.scrollTop = clientHeight;
	
		if (chatbox == "all-chatting") {
			isBlack = {{ black_hats | safe }}.includes(p_name);
			setChatting_content(container, pen_code, p_name, c_content, c_datetime, {mychat, suffix, chatbox: `${isBlack ? "blacks" : "whites"}-chatting`});
		}
	}

	function insertChatting(container, pen_code, data, {focus=false, time=undefined, suffix=""}={}) {
		if (!data) return;
		for (let c_content of data) {
			const {name, chat, datetime} = c_content;
			setChatting_content(container, pen_code, name, chat, time || (typeof datetime !== "string" ? datetime : new Date(Date.parse(datetime))), {mychat: name == focus?.replace?.(/_/g, " "), suffix});
		}
	}



	function chattingScroll({target}) {
		target = document.querySelector(target.getAttribute("data-bs-target"));
		target.scrollTop = target.querySelector("article").clientHeight;
	}
	for (let x of document.querySelectorAll(`#chattingbox-container button[data-bs-toggle="tab"]`)) {
		x.addEventListener("shown.bs.tab", chattingScroll);
	}
</script>
