{% load static %}

<header class="navbar navbar-expand shadow sticky-top bg-body">
	<div class="container-fluid">
		<button class="navbar-toggler d-block d-lg-none" type="button" onclick="navShow();" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="flex-grow-1 d-flex">
			<ul class="navbar-nav flex-grow-1 justify-content-end">
				{% if not user.is_authenticated %}
					<li class="nav-item"><a href="{% url 'signin' %}"><button type="button" class="btn btn-outline-success">Sign In</button></a></li>
				{% else %}
					<li class="nav-item dropdown">
						<a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<span user="username">{{ user.username }}</span>
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							{% if user.is_staff %}
								<li><a href="{% url 'trash' %}" class="dropdown-item">Trash</a></li>
							{% endif %}
							{% if user.is_superuser %}
								<li><a href="{% url 'manage' %}" class="dropdown-item">Manage</a></li>
							{% endif %}
							<li><button type="button" class="dropdown-item" onclick="signout()">Sign Out</button></li>
						</ul>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</header>
