<div id="modal-container">
	<div class="modal fade" id="penInfoModal" tabindex="-1" aria-labelledby="penInfoModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<form class="modal-content" onsubmit="updatePenInfo(event);">
				<div class="modal-header pb-0">
					<div class="nav nav-tabs w-100 border-0" id="nav-tab" role="tablist">
						<button class="nav-link" id="modal-pen-payloads-tab" data-bs-toggle="tab" data-bs-target="#modal-pen-payloads" type="button" role="tab" aria-controls="modal-pen-payloads" aria-selected="false">Payloads</button>
						<button class="nav-link" id="modal-pen-patches-tab" data-bs-toggle="tab" data-bs-target="#modal-pen-patches" type="button" role="tab" aria-controls="modal-pen-patches" aria-selected="false">Patches</button>
						<button class="nav-link" id="modal-pen-vulnFiles-tab" data-bs-toggle="tab" data-bs-target="#modal-pen-vulnFiles" type="button" role="tab" aria-controls="modal-pen-vulnFiles" aria-selected="false">Vuln Files</button>
						<button class="nav-link" id="modal-pen-chats-tab" data-bs-toggle="tab" data-bs-target="#modal-pen-chats" type="button" role="tab" aria-controls="modal-pen-chats" aria-selected="false">Chats</button>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
				</div>
				<div class="modal-body">
					<div class="tab-content d-none" id="nav-tabContent">
						<div class="d-flex flex-column gap-2 mb-2">
							<div class="d-flex gap-2 px-1">
								<a field="play" href="#" class="me-1 link-success text-center" style="width: 1rem" data-bs-toggle="tooltip" data-bs-title="Play">
									<i class="fa-solid fa-play"></i>
								</a>
								<div field="forkable" class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="forkable" onclick="this.blur(); return false;">
									<label class="form-check-label" for="forkable" data-bs-toggle="tooltip" data-bs-title="Available as base">Forkable</label>
								</div>
								<div field="compressed" class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="compressed" onclick="this.blur(); return false;">
									<label class="form-check-label" for="compressed" data-bs-toggle="tooltip" data-bs-title="Minimize load on servers">Compressed</label>
								</div>
								{% if user.is_staff %}<label field="compress" role="button" class="link-success">
									Compress?
									<button type="button" onclick="setSubModal(event, this.closest('form'))" data-bs-toggle="modal" data-bs-target="#compressModal" hidden></button>
								</label>
								<div class="flex-grow-1 text-end">
									<button class="link-danger bg-transparent border-0 p-0 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-trash"></i></button>
									<ul class="dropdown-menu dropdown-menu-end">
										<li><button type="button" class="dropdown-item btn-forkable-delete" onclick="setSubModal(event, this.closest('form'))" data-bs-toggle="modal" data-bs-target="#deleteModal">Forkable</button></li>
										<li><button type="button" class="dropdown-item btn-compressed-delete" onclick="setSubModal(event, this.closest('form'))" data-bs-toggle="modal" data-bs-target="#deleteModal">Compressed</button></li>
									</ul>
								</div>{% endif %}
							</div>
							<div class="form-floating">
								<input type="text" class="form-control" id="modal_pen_code" name="new_pen_code" onblur="this.classList.remove('form-danger')"{% if not user.is_staff %} disabled{% endif %}>
								<label for="modal_pen_code">Penetration Test Name</label>
							</div>
							<div class="row g-2">
								<div class="col-6"><div class="form-floating">
									<input type="button" class="form-control btn btn-outline-secondary text-start text-truncate" id="modal_forked" name="forked" onclick="initPenModal(this.value)" title="Information"/>
									<label for="modal_forked">Forked from</label>
								</div></div>
								<div class="col-6"><select id="modal_forks" name="forks" class="form-select h-100" aria-label="Large select example" onchange="initPenModal(this.selectedOptions[0].value)">
									<option selected hidden>Forked by</option>
								</select></div>
							</div>
							<div class="d-flex flex-column gap-2">
								<div class="row g-2">
									<div class="col-3"><div class="form-floating">
										<input type="number" class="form-control" id="modal_step" name="step" disabled>
										<label for="modal_step">Last Step</label>
									</div></div>
									<div class="col-3"><div class="form-floating">
										<input type="text" class="form-control" id="modal_payloads" name="payloads" disabled>
										<label for="modal_payloads">Payloads</label>
									</div></div>
									<div class="col-3"><div class="form-floating">
										<input type="text" class="form-control" id="modal_vulnerabilities" name="vulnerabilities" disabled>
										<label for="modal_vulnerabilities">Vulnerabilities</label>
									</div></div>
									<div class="col-3"><div class="form-floating">
										<input type="text" class="form-control" id="modal_vulnerable_files" name="vulnerable_files" disabled>
										<label for="modal_vulnerable_files">Vulnerable Files</label>
									</div></div>
								</div>
							</div>
							<div class="d-flex flex-column gap-2">
								<div class="row g-2">
									<div class="col-4"><div class="form-floating">
										<input type="text" class="form-control" id="modal_patch_suggestion" name="patch_suggestion" disabled>
										<label for="modal_patch_suggestion">Patches</label>
									</div></div>
									<div class="col-4"><div class="form-floating">
										<input type="text" class="form-control" id="modal_best_suggestion" name="best_suggestion" disabled>
										<label for="modal_best_suggestion">Selected Suggestion</label>
									</div></div>
									<div class="col-4"><div class="form-floating">
										<input type="number" class="form-control" id="modal_patches_applied" name="patches_applied" min="0"{% if not user.is_staff %} disabled{% endif %}>
										<label for="patches_applied">Patches Applied</label>
									</div></div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="modal-pen-payloads" role="tabpanel" aria-labelledby="modal-pen-payloads-tab" tabindex="0"></div>
						<div class="tab-pane fade" id="modal-pen-patches" role="tabpanel" aria-labelledby="modal-pen-patches-tab" tabindex="0"></div>
						<div class="tab-pane fade" id="modal-pen-vulnFiles" role="tabpanel" aria-labelledby="modal-pen-vulnFiles-tab" tabindex="0">
							<select class="form-select" id="vulnerable_file_select" onchange="displayCodeViewer(this.value)">
								<option hidden selected>Vulnerable Files</option>
							</select>
							<div id="codes-container" class="modal-scroll-target"></div>
						</div>
						<div class="tab-pane fade" id="modal-pen-chats" role="tabpanel" aria-labelledby="modal-pen-chats-tab" tabindex="0">
							{% include 'includes/chattingbox.html' with type="modal" %}
						</div>
					</div>
					<div class="loading h4 text-center text-secondary pt-3">Loading...</div>
				</div>
				{% if user.is_staff %}<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-success">Save</button>
				</div>{% endif %}
			</form>
		</div>
	</div>

	<div class="modal fade" id="compressModal" tabindex="-1" aria-labelledby="compressModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="compressModalLabel">Compress?</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<span class="pen_code"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#penInfoModal" aria-label="Back">Back</button>
					<button type="button" class="btn btn-success" onclick="compressPenTest(event)">Yes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="deleteModalLabel">Delete?</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<span class="pen_code"></span> (<span class="mode"></span>)
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#penInfoModal" aria-label="Back">Back</button>
					<button type="button" class="btn btn-danger" onclick="deletePenTest(event)">Yes</button>
				</div>
			</div>
		</div>
	</div>



	<script type="text/javascript">
		document.querySelector(`#modal-pen-payloads`).append(createPayloadTable("modal"));
		document.querySelector(`#modal-pen-patches`).append(createPatchTable("modal"));
		const payloadTable = document.querySelector(`#modal-pen-payloads table`);
		const patchTable = document.querySelector("#modal-pen-patches table");

		const container = document.querySelector("#pen_code_container");
		const penModal = document.querySelector("#penInfoModal");
		const form = penModal.querySelector("form");
		const selectbox = form.querySelector(`[name=forks]`);

		const modalLoading = async function(e, toggle=undefined) {
			const pen_code = e.relatedTarget?.closest("[pen_code]").getAttribute("pen_code");

			if (!e?.relatedTarget?.closest(".modal")) {
				await initPenModal(pen_code);
				form.querySelector("#nav-tab > button:not(.disabled)").click();
			}
			if (toggle === undefined) toggle = ["show", "shown"].includes(e.type.split(".")[0]);
			form.querySelector(".loading").classList.toggle("d-none", toggle);
			form.querySelector("#nav-tabContent").classList.toggle("d-none", !toggle);
			penModalAutoHeight();
		}
		const penModalAutoHeight = function(e) {
			const height = penInfoModal.querySelector(".modal-content").clientHeight;
			for (let box of form.querySelectorAll(".modal-scroll-target")) {
				box.style.setProperty("--height", `${height - box.clientHeight}px`);
			}
		}

		const initPenModal = async function(pen_code) {
			if (!pen_code) return;
			const pen_codes = container?.querySelectorAll(`[pen_code]`) || [];

			const [chart, {base, meta, modes}, data] = await Promise.all([
				`/api/charts/pens/${pen_code}`,
				`/api/pens/${pen_code}`,
				`/api/pens/${pen_code}/datas`,
			].map(url => request(url)));

			const playBtn = form.querySelector("[field=play]");
			playBtn.setAttribute("data-bs-title", base ? "Preview" : "Play");
			playBtn.href = "{% url 'pen_test' %}" + pen_code;
			new bootstrap.Tooltip(playBtn);

			const isForkable = modes.includes("forkable");
			const isCompressed = modes.includes("compressed");
			form.querySelector("[field=forkable] input").checked = isForkable;
			form.querySelector("[field=compressed] input").checked = isCompressed;
			form.querySelector("[field=compress]")?.classList.toggle("d-none", meta.step == 0 || isCompressed);
			form.querySelector(".btn-forkable-delete")?.toggleAttribute("disabled", !isForkable);
			form.querySelector(".btn-compressed-delete")?.toggleAttribute("disabled", !isCompressed);

			form.setAttribute("pen_code", pen_code);
			form.new_pen_code.value = pen_code;
			form.new_pen_code.placeholder = pen_code;

			form.forked.setAttribute("pen_code", meta.fork_sim_code);
			form.forked.value = meta.fork_sim_code;
			form.forked.toggleAttribute("disabled", form.forked.value.trim() == pen_code || !container?.querySelector(`[pen_code="${meta.fork_sim_code}"]`));

			while (1 < selectbox.children.length) selectbox.children[1].remove();
			for (let box of pen_codes) {
				if (box.getAttribute("forked").trim() == pen_code && box.getAttribute("pen_code").trim() != pen_code) {
					const option = document.createElement("option");
					option.setAttribute("pen_code", box.getAttribute("pen_code"));
					option.innerText = box.getAttribute("pen_code");
					selectbox.append(option);
				}
			}
			selectbox.toggleAttribute("disabled", selectbox.children.length <= 1);

			form.step.value = meta.step;
			for (let key of ["payloads", "vulnerabilities", "vulnerable_files", "patch_suggestion", "best_suggestion", "patches_applied"]) {
				form[key].value = chart[key];
			}

			const onlyVuln = form.querySelector("#only-vuln-modal");
			const bestSugg = form.querySelector("#best-suggestion-modal");
			if (onlyVuln.checked) onlyVuln.click();
			if (bestSugg.checked) bestSugg.click();
			payloadTable.querySelector("tbody").innerHTML = "";
			patchTable.querySelector("tbody").innerHTML = "";
			form.querySelector("#codes-container").innerHTML = "";
			for (let x of form.querySelectorAll("#vulnerable_file_select [value]")) x.remove();
			for (let x of form.querySelectorAll("#chattingbox-container article ul")) x.innerHTML = "";

			const start_datetime = getDateObject(`${meta.start_date}, 00:00:00`);
			const sec_per_step = meta.sec_per_step;
			for (let step in data) {
				for (let p_name in data[step]) {
					const {payload, patch, chat} = data[step][p_name];
					insertChatting(form.querySelector("#chattingbox-container"), pen_code, chat, {time: addDateTime(start_datetime, sec_per_step * step), suffix: "-modal"});
					insertPayloadTable(payloadTable, {data: payload});
					insertPatchTable(patchTable, {data: patch});
				}
			}
		}

		const updatePenInfo = async function(e) {
			e.preventDefault();

			const form = e.target;
			const btn = form.querySelector("button[type=submit]");
			const pen_code = form.getAttribute("pen_code").trim();
			const new_pen_code = form.new_pen_code.value.trim();
			const patches_applied = form.patches_applied.value.trim() * 1;
			const pen_codes = container?.querySelectorAll(`[pen_code]`) || [];

			btn.setAttribute("disabled", "");
			form.new_pen_code.classList.remove("form-danger");
			const ok = await request("{% url 'pen_info_update' %}", {method: "patch", data: {pen_code, new_pen_code, patches_applied}});
			if (!ok) {
				form.new_pen_code.classList.add("form-danger");
				form.new_pen_code.focus();
				msg("Already Exists", "danger");
			} else {
				for (let box of pen_codes) {
					if (box.getAttribute("pen_code") == pen_code) {
						box.setAttribute("pen_code", new_pen_code);
						box.querySelector("[field=pen_code]").innerText = new_pen_code;
						box.querySelector("[field=patches_applied]").innerText = patches_applied || "-";
					}
					if (box.getAttribute("forked") == pen_code) {
						box.setAttribute("forked", new_pen_code);
					}
					form.setAttribute("pen_code", new_pen_code)
					form.new_pen_code.setAttribute("placeholder", new_pen_code);
					form.patches_applied.setAttribute("placeholder", patches_applied);
					form.querySelector("button[type=submit]").setAttribute("disabled", "");
				}
				msg("Successfully");
			}
			btn.removeAttribute("disabled");
		}

		const setSubModal = function(e, target) {
			const pen_code = target.getAttribute("pen_code");
			const modal = document.querySelector(e.target.closest("button").getAttribute("data-bs-target"));
			const btns = modal.querySelectorAll(".modal-footer .btn-secondary");
			modal.setAttribute("pen_code", pen_code);
			modal.querySelector(`.pen_code`).innerText = pen_code;
			if (modal.querySelector(`.mode`)) {
				modal.setAttribute("mode", e.target.innerText.toLowerCase());
				modal.querySelector(`.mode`).innerText = e.target.innerText;
			}
		}

		const compressPenTest = async function(e) {
			const btn = e.target.closest("button");
			const modal = e.target.closest(".modal");
			const pen_code = modal.getAttribute("pen_code");

			btn.setAttribute("disabled", "");
			const ok = await request("{% url 'compress_pen_test' %}", {method: "post", data: {pen_code}});
			if (ok != true) {
				msg(ok, "danger");
			} else {
				form.querySelector("[field=compress]").classList.add("d-none");
				form.querySelector("[field=compressed]").classList.remove("d-none");
				form.querySelector("[field=compressed] input").checked = true;
				form.querySelector(".btn-compressed-delete").removeAttribute("disabled");
				modal.querySelector(`[aria-label=Back`).click();
			}
			btn.removeAttribute("disabled");
		}

		const deletePenTest = async function(e) {
			const btn = e.target.closest("button");
			const modal = e.target.closest(".modal");
			const pen_code = modal.getAttribute("pen_code");
			const mode = modal.getAttribute("mode");
			const form = penModal.querySelector("form");

			btn.setAttribute("disabled", "");
			const ok = await request("{% url 'delete_pen_test' %}", {method: "delete", data: {pen_code, mode}});
			if (ok != true) {
				msg(ok, "danger");
			} else {
				form.querySelector(`[field=compress]`).classList.toggle("d-none", mode !== "compressed");
				form.querySelector(`[field="${mode}"] input`).checked = false;
				form.querySelector(`.btn-${mode}-delete`).setAttribute("disabled", "");
				const back = form.querySelectorAll('[class$=-delete]:not([disabled])').length;
				modal.querySelector(`[aria-label="${back ? 'Back' : 'Close'}"]`).click();
				if (!back) container.querySelector(`[pen_code="${pen_code}"]`).remove();
			}
			btn.removeAttribute("disabled");
		}

		penModal.addEventListener("shown.bs.modal", modalLoading);
		penModal.addEventListener("hidden.bs.modal", modalLoading);
		for (let x of penModal.querySelectorAll("#nav-tab button")) {
			x.addEventListener("shown.bs.tab", penModalAutoHeight);
		}
	</script>
</div>
