{% extends "base.html" %}



{% block content %}

<style type="text/css">
	table#pen_code_container tbody tr.active td:first-child:before {
		content: "";
		display: block;
		position: absolute;
		left: 0px;
		top: -1px;
		height: calc(100% + 2px);
		width: 0px;
		border-left: 2px solid var(--bs-success);
	}
</style>

<section class="bg-body shadow rounded-4 my-2 p-3">
	<div class="d-flex gap-2 align-items-center">
		<input class="flex-grow-1 px-2" type="text" name="search" placeholder="Search..." oninput="selectPen(this.value)"/>
		<a href="{% url 'pen_test' %}">Details &gt;</a>
	</div>
	<div class="table-responsive mt-2" style="max-height: 500px;">
		<table id="pen_code_container" class="table table-sm table-bordered table-hover m-0 position-relative text-nowrap">
			<thead class="sticky-top z-1">
				<tr>
					<th scope="col" rowspan="2" class="text-center minimum align-middle sorted" sort="num">#</th>
					<th scope="col" rowspan="2" class="align-middle" sort="pen_code">Penetration Test Name</th>
					<th scope="col" colspan="3" class="text-center minimum">Number of</th>
					<th scope="col" rowspan="2" class="text-center minimum align-middle">Control</th>
				</tr>
				<tr>
					<th scope="col" class="text-center minimum" sort="step">Steps</th>
					<th scope="col" class="text-center minimum" sort="payloads">Payloads</th>
					<th scope="col" class="text-center minimum" sort="vulnerabilities">Vulnerabilities</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for pen in pen_codes %}<tr class="position-relative" pen_code="{{ pen.pen_code }}" forked="{{ pen.fork_sim_code }}" mode="{{ pen.mode }}">
					<td field="num" class="text-end"><span{% if backend.pen_code == pen.pen_code %} class="text-success" data-bs-toggle="tooltip" data-bs-title="Running"{% endif %}>{{ forloop.counter }}</span></td>
					<td field="pen_code">{{ pen.pen_code }}</td>
					<td field="step" class="text-center">{% if not pen.step %}-{% else %}{{ pen.step }}{% endif %}</td>
					<td field="payloads" class="text-center">{% if not pen.payloads.count.payloads %}-{% else %}{{ pen.payloads.count.payloads }}{% endif %}</td>
					<td field="vulnerabilities" class="text-center">{% if not pen.payloads.count.vulnerabilities %}-{% else %}{{ pen.payloads.count.vulnerabilities }}{% endif %}</td>
					<td field="control"><div class="d-flex gap-2">
						<a class="link-secondary text-center" style="width: 1rem" href="{% url 'pen_test' pen.pen_code %}" data-bs-toggle="tooltip" data-bs-title="{% if not pen.step %}Preview{% else %}Play{% endif %}">
							<i class="fa-solid fa-play"></i>
						</a>
						<a class="link-secondary text-center{% if not pen.step %} invisible{% endif %}" style="width: 1rem" href="{% url 'pen_test' %}?search={{ pen.pen_code }}" data-bs-toggle="tooltip" data-bs-title="Payloads">
							<i class="fa-solid fa-list-ul"></i>
						</a>
						<label role="button" class="link-secondary text-center" style="width: 1rem" data-bs-toggle="tooltip" data-bs-title="Information">
							<i class="fa-solid fa-ellipsis-vertical"></i>
							<button type="button" onclick="setPenInfoModal(event, this.closest('[mode]'))" data-bs-toggle="modal" data-bs-target="#penInfoModal" hidden></button>
						</label>
					</div></td>
				</tr>{% endfor %}
			</tbody>
		</table>
	</div>
	{% include 'includes/modals.html' %}
</section>

<section class="row">
	<div class="col-md-6 my-2">
		<div class="bg-body shadow rounded-4 p-3 h-100">
			<div class="table-responsive">
				<table id="url-table" class="table table-sm table-bordered table-hover m-0 position-relative text-nowrap" style="border-width: 2px;">
					<thead class="sticky-top z-1">
						<tr>
							<th scope="col" rowspan="2" class="text-center minimum align-middle sorted" sort="num">#</th>
							<th scope="col" rowspan="2" class="align-middle" sort="url">URL</th>
							<th scope="col" colspan="2" class="text-center minimum">Number of</th>
						</tr>
						<tr>
							<th scope="col" class="text-center minimum" sort="payloads">Payloads</th>
							<th scope="col" class="text-center minimum" sort="vulnerabilities">Vulnerabilities</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6 my-2">
		<div class="bg-body shadow rounded-4">
			<canvas id="type-chart" class="p-3 h-100"></canvas>
		</div>
	</div>
</section>

{% endblock %}



{% block js_content %}
<script type="text/javascript">
	const randomInt = function() {
		return Math.round(Math.random() * 8) + 2;
	}

	const type_chart = getCanvas({
		canvas: document.querySelector("#type-chart"),
		config: {
			type: "bar",
			data: {
				labels: {{ chart.attack.labels | safe }},
				datasets: [{
					data: {{ chart.attack.datasets | safe }},
					backgroundColor: "rgb(255, 99, 132)",
				}],
			},
			options: {
				plugins: {
					title: {
						text: "Number of Vulnerabilities by Attack",
						display: true,
					},
					legend: {
						display: false,
					},
				},
				scales: {
					y: {
						beginAtZero: true,
					},
				},
			},
		}
	});



	const urlTable = document.querySelector("#url-table");
	for (let url of {{ chart.url.labels | safe }}) {
		const idx = {{ chart.url.labels | safe }}.indexOf(url);
		try {
			let [payloads, vulnerabilities] = {{ chart.url.datasets | safe }}[idx];
			insertURLTable(urlTable, {url, data: {payloads, vulnerabilities}});
		} catch {}
	}



	const penTbody = document.querySelector("table#pen_code_container tbody");
	const trs = penTbody.querySelectorAll("tr");

	const selectPen = function(input) {
		for (let box of trs) {
			box.classList.toggle("d-none", !box.getAttribute("pen_code").toLowerCase().trim().includes(input.toLowerCase().trim()));
		}
	}



	const activeTree = function(tr, bool=true) {
		tr?.classList.toggle("active", bool);
	}
	const hideTree = function() {
		for (let tr of penTbody.querySelectorAll("tr")) {
			activeTree(tr, false);
		}
	}

	const showTree = function(tr, type) {
		if (!tr || tr.tagName != "TR") {
			return;
		} else if (type === undefined) {
			hideTree();
		}
		activeTree(tr);

		const pen_code = tr.getAttribute("pen_code");
		if (!type || type == "up") for (let x of penTbody.querySelectorAll(`tr[pen_code=${tr.getAttribute("forked")}]:not([pen_code=${pen_code}])`)) {
			showTree(x, "up");
		}
		if (!type || type == "down") for (let x of penTbody.querySelectorAll(`tr[forked="${pen_code}"]:not([pen_code=${pen_code}])`)) {
			showTree(x, "down");
		}
	}

	penTbody.addEventListener("mouseover", function(e) {
		showTree(e.target.closest("tr"));
	});
	penTbody.addEventListener("mouseout", hideTree);
</script>
{% endblock %}
