{% extends "base.html" %}



{% block content %}

<style type="text/css">
	table tbody tr.active td:first-child:before {
		content: "";
		display: block;
		position: absolute;
		left: 0px;
		top: -1px;
		height: calc(100% + 2px);
		width: 0px;
		border-left: 2px solid green;
	}
</style>

{% if backend.step %}<section class="bg-body shadow rounded-4 my-3 p-3">
	<div class="text-center">
		Backend is Running, <a href="{% url 'backend' %}">See</a>
	</div>
</section>{% endif %}

<section class="bg-body shadow rounded-4 my-3 p-3">
	<div class="d-flex gap-2 align-items-center">
		<input class="px-2" style="flex: 1;" type="text" name="search" placeholder="Search..." oninput="selectPen(this.value)"/>
		<a href="{% url 'pen_testing' %}">Details &gt;</a>
	</div>
	<div class="table-responsive mt-2" style="max-height: 500px;">
		<table class="table table-sm table-bordered table-hover m-0 position-relative" style="border-width: 2px;">
			<thead class="sticky-top z-1">
				<tr>
					<th scope="col" class="text-end" style="width: {{ pen_codes | length | stringformat:'d' | length | add:1 }}rem">#</th>
					<th scope="col">Name</th>
					<th scope="col" class="text-center px-5" style="width: 0;">Step</th>
					<th scope="col" class="text-center px-2" style="width: 0;">Vulnerability</th>
					<th scope="col" class="text-center px-2" style="width: 0;">Forkable</th>
					<th scope="col" class="text-center px-2" style="width: 0;">Compressed</th>
					<th scope="col" class="text-center px-5" style="width: 0;">Control</th>
				</tr>
			</thead>
			<tbody class="table-group-divider" id="pen_code_container">
				{% for pen in pen_codes %}<tr class="position-relative" pen_code="{{ pen.pen_code }}" forked="{{ pen.fork_sim_code }}" mode="{{ pen.mode }}">
					<td field="num" class="text-end">{{ forloop.counter }}</td>
					<td field="pen_code">{{ pen.pen_code }}</td>
					<td field="step" class="text-center">{% if not pen.step %}-{% else %}{{ pen.step }}{% endif %}</td>
					<td field="vulnerability" class="text-center">{% if not pen.payload %}-{% else %}{{ pen.payload.count }}/{{ pen.payload.total }}{% endif %}</td>
					<td field="forkable" class="text-center">{% if pen.forkable %}<i class="fa-solid fa-check"></i>{% endif %}</td>
					<td field="compressed" class="text-center">{% if pen.compressed %}<i class="fa-solid fa-check"></i>{% endif %}</td>
					<td field="control"><div class="d-flex gap-2">
						<a class="link-secondary text-center" style="width: 1rem" href="{% if not pen.step %}{% url 'path_tester' pen.maze_name %}{% else %}{% url 'pen_testing' pen.pen_code %}{% endif %}" data-bs-toggle="tooltip" data-bs-title="{% if not pen.step %}Preview{% else %}Play{% endif %}">
							<i class="fa-solid fa-play"></i>
						</a>
						<label role="button" class="link-secondary{% if not pen.step or pen.mode == 'compressed' %} invisible{% endif %}" data-bs-toggle="tooltip" data-bs-title="Compress">
							<i class="fa-solid fa-minimize"></i>
							<button type="button" class="d-none" onclick="setSubModal(event, this.closest('[mode]'), 'Close')" data-bs-toggle="modal" data-bs-target="#compressModal"></button>
						</label>
						<a class="link-secondary text-center{% if not pen.step %} invisible{% endif %}" style="width: 1rem" href="{% url 'pen_testing' %}?search={{ pen.pen_code }}" data-bs-toggle="tooltip" data-bs-title="Payloads">
							<i class="fa-solid fa-list-ul"></i>
						</a>
						<label role="button" class="link-secondary text-center" style="width: 1rem" data-bs-toggle="tooltip" data-bs-title="Information">
							<i class="fa-solid fa-ellipsis-vertical"></i>
							<button type="button" class="d-none" onclick="setPenInfoModal(event, this.closest('[mode]'))" data-bs-toggle="modal" data-bs-target="#penInfoModal"></button>
						</label>
					</div></td>
				</tr>{% endfor %}
			</tbody>
		</table>
	</div>
	{% include 'includes/modals.html' %}
</section>

<section class="row">
	<div class="col-md-6">
		<div class="bg-body shadow rounded-4 my-3 p-3">
			<canvas id="doughnut-chart" class="w-100" height="300"></canvas>
			<script type="text/javascript">
				const randomInt = function() {
					return Math.round(Math.random() * 8) + 2;
				}

				const dcanvas = document.querySelector("#doughnut-chart").getContext("2d");
				const dchart = new Chart(dcanvas, {
					type: "doughnut",
					data: {
						labels: ["Safely", "Suspicious", "Warning", "Danger"],
						datasets: [{
							label: "Total",
							data: [
								8,
								5,
								7,
								4,
							],
							backgroundColor: [
								"rgb(54, 162, 235)",
								"rgb(255, 205, 86)",
								"rgb(255, 159, 64)",
								"rgb(255, 99, 132)",
							],
							hoverOffset: 25,
						}],
					},
				});
			</script>
		</div>
	</div>
	<div class="col-md-6">
		<div class="bg-body shadow rounded-4 my-3 p-3">
			<canvas id="bar-chart"></canvas>
			<script type="text/javascript">
				const bcanvas = document.querySelector("#bar-chart").getContext("2d");
				const bchart = new Chart(bcanvas, {
					type: "bar",
					data: {
						labels: ["SQLi", "XSS", "CSRF", "LFI"],
						datasets: [{
							data: [
								7,
								10,
								6,
								4,
							],
							backgroundColor: "rgb(255, 99, 132)",
						}],
					},
					options: {
						plugins: {
							title: {
								text: "Vulnerability by Type",
								display: true,
							},
							legend: {
								display: false,
							},
						},
						scales: {
							y: {
								beginAtZero: true,
							},
						},
					},
				});
			</script>
		</div>
		<div class="bg-body shadow rounded-4 my-3 p-3">
			<canvas id="line-chart"></canvas>
			<script type="text/javascript">
				const lcanvas = document.querySelector("#line-chart").getContext("2d");
				const lchart = new Chart(lcanvas, {
					type: "line",
					data: {
						labels: [
							"2024-09-11",
							"2024-09-12",
							"2024-09-13",
							"2024-09-14",
							"2024-09-15",
							"2024-09-16",
						],
						datasets: [{
							data: [
								4,
								8,
								3,
								4,
								3,
								9,
							],
							backgroundColor: "rgb(255, 99, 132)",
						}],
					},
					options: {
						plugins: {
							title: {
								text: "Number of Pen Testing",
								display: true,
							},
							legend: {
								display: false,
							},
						},
						scales: {
							x: {
								type: "time",
								time: {
									tooltipFormat: "DD",
									unit: "day",
								},
							},
							y: {
								beginAtZero: true,
							},
						},
					},
				});
			</script>
		</div>
	</div>
</section>

{% endblock %}



{% block js_content %}
<script type="text/javascript">
	const table = document.querySelector("table tbody");
	const trs = table.querySelectorAll("tr");

	const selectPen = function(input) {
		for (let box of trs) {
			box.classList.toggle("d-none", !box.getAttribute("pen_code").toLowerCase().includes(input.toLowerCase()));
		}
	}



	const activeTree = function(tr, bool=true) {
		tr?.classList.toggle("active", bool);
	}
	const hideTree = function() {
		for (let tr of table.querySelectorAll("tr")) {
			activeTree(tr, false);
		}
	}

	const showTree = function(tr, type) {
		if (!tr || tr.tagName != "TR") {
			return;
		} else if (type === undefined) {
			hideTree();
		}
		activeTree(tr);

		const pen_code = tr.getAttribute("pen_code");
		if (!type || type == "up") for (let x of table.querySelectorAll(`tr[pen_code=${tr.getAttribute("forked")}]:not([pen_code=${pen_code}])`)) {
			showTree(x, "up");
		}
		if (!type || type == "down") for (let x of table.querySelectorAll(`tr[forked="${pen_code}"]:not([pen_code=${pen_code}])`)) {
			showTree(x, "down");
		}
	}

	table.addEventListener("mouseover", function(e) {
		showTree(e.target.closest("tr"));
	});
	table.addEventListener("mouseout", hideTree);
</script>
{% endblock %}
