{% extends "base.html" %}



{% block content %}

<style type="text/css">
	table#pen_code_container tbody tr.active th:first-child:before {
		content: "";
		display: block;
		position: absolute;
		left: 0px;
		top: -1px;
		height: calc(100% + 2px);
		width: 0px;
		border-left: 2px solid var(--bs-success);
	}
</style>

<section class="bg-body shadow rounded-4 my-2 p-3">
	<div class="d-flex gap-2 align-items-center">
		<input class="flex-grow-1 px-2 w-100" type="text" name="search" placeholder="Search..." oninput="selectPen(this.value)"/>
		<a href="{% url 'pen_test' %}" class="text-nowrap">All Details &gt;</a>
	</div>
	<div class="table-responsive mt-2" style="max-height: 510px;">
		<table id="pen_code_container" class="table table-sm table-bordered table-hover m-0 position-relative text-nowrap">
			<thead class="sticky-top z-1">
				<tr>
					<th scope="col" rowspan="2" class="text-center minimum align-middle sorted" sort="num">#</th>
					<th scope="col" rowspan="2" class="align-middle" sort="pen_code">Penetration Test Name</th>
					<th scope="col" colspan="7" class="text-center minimum">Number of</th>
					<th scope="col" rowspan="2" class="text-center minimum align-middle">Control</th>
				</tr>
				<tr>
					<th scope="col" class="text-center minimum" sort="step">Steps</th>
					<th scope="col" class="text-center minimum" sort="payloads">Payloads</th>
					<th scope="col" class="text-center minimum" sort="vulnerabilities">Vulnerabilities</th>
					<th scope="col" class="text-center minimum" sort="vulnerable_files">Vulnerable files</th>
					<th scope="col" class="text-center minimum" sort="patch_suggestion">Patch Suggestion</th>
					<th scope="col" class="text-center minimum" sort="best_suggestion">Selected Suggestion</th>
					<th scope="col" class="text-center minimum" sort="patches_applied">Patches Applied</th>
				</tr>
			</thead>
			<tfoot class="sticky-bottom z-1">
				<tr class="fw-bold">
					<th scope="col" colspan="2">Total</th>
					<td class="text-center" field="step"></td>
					<td class="text-center" field="payloads"></td>
					<td class="text-center" field="vulnerabilities"></td>
					<td class="text-center" field="vulnerable_files"></td>
					<td class="text-center" field="patch_suggestion"></td>
					<td class="text-center" field="best_suggestion"></td>
					<td class="text-center" field="patches_applied"></td>
					<td></td>
				</tr>
			</tfoot>
			<tbody class="table-group-divider">
			</tbody>
		</table>
	</div>
</section>

<section class="row">
	<div class="col-12 my-2">
		<div class="bg-body shadow rounded-4 p-3 h-100">
			<h3 class="text-center text-secondary fw-semibold" style="font-size: .85rem">Number of Payloads by URL</h3>
			<div class="table-responsive">
				<table id="url-table" class="table table-sm table-bordered table-hover m-0 position-relative text-nowrap" style="border-width: 2px;">
					<thead class="sticky-top z-1">
						<tr>
							<th scope="col" rowspan="2" class="text-center minimum align-middle sorted" sort="num">#</th>
							<th scope="col" rowspan="2" class="align-middle" sort="url">URL</th>
							<th scope="col" colspan="4" class="text-center minimum">Number of</th>
						</tr>
						<tr>
							<th scope="col" class="text-center minimum" sort="payloads">Payloads</th>
							<th scope="col" class="text-center minimum" sort="vulnerabilities">Vulnerabilities</th>
							<th scope="col" class="text-center minimum" sort="patch_suggestion">Patch Suggestion</th>
							<th scope="col" class="text-center minimum" sort="best_suggestion">Best Suggestion</th>
						</tr>
					</thead>
					<tfoot class="sticky-bottom z-1">
						<tr>
							<th scope="col" colspan="2">Total</th>
							<td field="payloads" class="text-center"></td>
							<td field="vulnerabilities" class="text-center"></td>
							<td field="patch_suggestion" class="text-center"></td>
							<td field="best_suggestion" class="text-center"></td>
						</tr>
					</tfoot>
					<tbody class="table-group-divider"></tbody>
				</table>
			</div>
		</div>
	</div>
</section>

<section class="row">
	<div class="col-md-6 my-2">
		<div class="bg-body shadow rounded-4">
			<canvas id="payload-type-chart" class="p-3 h-100"></canvas>
		</div>
	</div>
	<div class="col-md-6 my-2">
		<div class="bg-body shadow rounded-4">
			<canvas id="patch-type-chart" class="p-3 h-100"></canvas>
		</div>
	</div>
</section>

{% include 'includes/modals.html' %}

{% endblock %}



{% block js_content %}
<script type="text/javascript">
	// Configure Graph Charts
	const payload_type_chart = getCanvas({
		canvas: document.querySelector("#payload-type-chart"),
		config: {
			type: "bar",
			data: {
				labels: [],
				datasets: [{
					label: "Payloads",
					data: [],
					backgroundColor: "rgba(220, 53, 69, .5)",
				}, {
					label: "Vulnerabilities",
					data: [],
					backgroundColor: "rgba(220, 53, 69, 1)",
				}],
			},
			options: {
				plugins: {
					title: {
						text: "Number of Payloads by Attack Type",
						display: true,
					},
					legend: {
						display: true,
						labels: {},
					},
				},
				scales: {
					x: {
						stacked: true,
					},
					y: {
						beginAtZero: true,
						ticks: {
							callback: function(value) {
								return Number.isInteger(value) ? value : null;
							},
						},
					},
				},
			},
		}
	});
	const patch_type_chart = getCanvas({
		canvas: document.querySelector("#patch-type-chart"),
		config: {
			type: "bar",
			data: {
				labels: [],
				datasets: [{
					label: "Patches",
					data: [],
					backgroundColor: "rgba(25,135,84, .5)",
				}, {
					label: "Best Patches",
					data: [],
					backgroundColor: "rgba(25,135,84, 1)",
				}],
			},
			options: {
				plugins: {
					title: {
						text: "Number of Patches Suggestion by Attack Type",
						display: true,
					},
					legend: {
						display: true,
						labels: {},
					},
				},
				scales: {
					x: {
						stacked: true,
					}, y: {
						beginAtZero: true,
						ticks: {
							callback: function(value) {
								return Number.isInteger(value) ? value : null;
							},
						},
					},
				},
			},
		}
	});



	// Search in Pen Table
	const penTbody = document.querySelector("table#pen_code_container tbody");
	const numberOf = penTbody.parentNode.querySelectorAll("thead > tr:last-child th");
	const selectPen = function(input) {
		const counter = {};
		for (let box of penTbody.querySelectorAll("tr")) {
			if (!box.classList.toggle("d-none", !box.getAttribute("pen_code").toLowerCase().trim().includes(input.toLowerCase().trim()))) {
				for (let x of numberOf) {
					const field = x.getAttribute("sort");
					counter[field] = (counter[field] || 0) + (parseInt(box.querySelector(`[field="${field}"]`).innerText) || 0);
				}
			}
		}

		// Change Total Data
		for (let x of numberOf) {
			const field = x.getAttribute("sort");
			penTbody.parentNode.querySelector(`tfoot [field="${field}"]`).innerText = counter[field] || 0;
		}
	}



	// Display a Tree in Pen Table when mouseover
	const activeTree = function(tr, isActive=true) {
		tr?.classList.toggle("active", isActive);
	}
	const hideTree = function() {
		for (let tr of penTbody.querySelectorAll("tr")) {
			activeTree(tr, false);
		}
	}
	const showTree = function(tr, type) {
		if (!tr || tr.tagName != "TR") {
			return;
		} else if (type === undefined) {
			hideTree();
		}
		activeTree(tr);

		const pen_code = tr.getAttribute("pen_code");
		if (!type || type == "up") for (let x of penTbody.querySelectorAll(`tr[pen_code="${tr.getAttribute("forked")}"]:not([pen_code="${pen_code}"])`)) {
			showTree(x, "up");
		}
		if (!type || type == "down") for (let x of penTbody.querySelectorAll(`tr[forked="${pen_code}"]:not([pen_code="${pen_code}"])`)) {
			showTree(x, "down");
		}
	}
	penTbody.addEventListener("mouseover", function(e) {
		showTree(e.target.closest("tr"));
	});
	penTbody.addEventListener("mouseout", hideTree);



	// Initial Table and Chart Data
	const urlTable = document.querySelector("#url-table");
	const initChartData = async function() {
		const [data, backend] = await Promise.all(["/api/charts", "/api/running"].map(url => request(url)));

		// Pen Table
		for (let idx in data.pens) {
			const {pen_code, chart} = data.pens[idx];
			const {modes, base, meta} = await request(`/api/pens/${pen_code}`);
			const tr = document.createElement("tr");
			tr.className = "position-relative";
			tr.setAttribute("pen_code", pen_code);
			tr.setAttribute("forked", meta.fork_sim_code);
			tr.setAttribute("mode", modes[0]);
			tr.innerHTML = `
				<th field="num" class="text-end" scope="row"><span>${idx*1+1}</span></th>
				<td field="pen_code">${pen_code}</td>
				<td class="text-center" field="step">${!base ? chart.step : "-"}</td>
				<td class="text-center" field="payloads">${chart.payloads || "-"}</td>
				<td class="text-center" field="vulnerabilities">${chart.vulnerabilities || "-"}</td>
				<td class="text-center" field="vulnerable_files">${chart.vulnerable_files || "-"}</td>
				<td class="text-center" field="patch_suggestion">${chart.patch_suggestion || "-"}</td>
				<td class="text-center" field="best_suggestion">${chart.best_suggestion || "-"}</td>
				<td class="text-center" field="patches_applied">${chart.patches_applied || "-"}</td>
				<td field="control"><div class="d-flex gap-2">
					<a class="link-secondary text-center" style="width: 1rem" href="{% url 'pen_test' %}${pen_code}" data-bs-toggle="tooltip" data-bs-title="${base ? "Preview" : "Play"}">
						<i class="fa-solid fa-play"></i>
					</a>
					<label role="button" class="link-secondary text-center" style="width: 1rem" data-bs-toggle="tooltip" data-bs-title="Results">
						<i class="fa-solid fa-square-poll-horizontal"></i>
						<button type="button" data-bs-toggle="modal" data-bs-target="#penInfoModal" hidden></button>
					</label>
				</div></td>
			`;
			if (backend.running && backend.pen_code == pen_code) {
				tr.querySelector("[field=num] span").classList.add("text-success");
				tr.querySelector("[field=num] span").setAttribute("data-bs-toggle", "tooltip");
				tr.querySelector("[field=num] span").setAttribute("data-bs-title", "Running");
			}
			if (base) {
				for (let x of tr.querySelectorAll(".d-none-base")) {
					x.classList.add("d-none");
				}
			}
			penTbody.append(tr);
		}
		initBsTooltip(penTbody);
		selectPen("");

		// URL Table
		for (let x of data.urls) {
			let {url, payloads, vulnerabilities, patch_suggestion, best_suggestion} = x;
			insertURLTable(urlTable, {url, data: {payloads, vulnerabilities, patches: patch_suggestion, best: best_suggestion}})
		}
		for (let x of urlTable.querySelectorAll("thead tr:last-child th")) {
			const field = x.getAttribute("sort");
			urlTable.querySelector(`tfoot [field="${field}"]`).innerText = [...urlTable.querySelectorAll(`tbody [field="${field}"]`)].map(x => parseInt(x.innerText) || 0).reduce((acc, cur) => acc + cur, 0);
		}

		// Attack Type Graph Charts
		while (data.attacks.length < 4) {
			data.attacks.push({attack_name: "", payload: 0, vulnerabilities: 0, patch_suggestion: 0, best_suggestion:0});
		}
		for (let x of data.attacks) {
			payload_type_chart.data.labels.push(x.attack_name);
			payload_type_chart.data.datasets[0].data.push(x.payloads);
			payload_type_chart.data.datasets[1].data.push(x.vulnerabilities);
			patch_type_chart.data.labels.push(x.attack_name);
			patch_type_chart.data.datasets[0].data.push(x.patch_suggestion);
			patch_type_chart.data.datasets[1].data.push(x.best_suggestion);
		}
		payload_type_chart.update();
		patch_type_chart.update();
	}
	window.addEventListener("DOMContentLoaded", initChartData);
</script>
{% endblock %}
