{% extends "base.html" %}

{% block content %}

<section class="border-bottom">
	<input type="text" class="border-0 bg-transparent w-100 lh-lg text-center" style="outline: 0" placeholder="Search..." name="search" value="{{ search }}" oninput="selectPen()">
</section>

<section class="pt-3 d-flex flex-column gap-4" id="pen_code_container">{% for pen in pen_codes %}
	<article class="bg-body shadow rounded-4 p-3" pen_code="{{ pen.pen_code }}" forked="{{ pen.fork_sim_code }}" mode="{{ pen.mode }}"{% if pen.isBase %} hidden{% endif %}>
		<h3 class="h5 d-flex gap-2">
			<a class="link-secondary" href="{% url 'pen_test' pen.pen_code %}" data-bs-toggle="tooltip" data-bs-title="Play"><i class="fa-solid fa-play"></i></a>
			<span class="flex-grow-1">{{ pen.pen_code }}</span>
			<label role="button" class="link-secondary text-center" style="width: 25px" data-bs-toggle="tooltip" data-bs-title="Pin">
				<i class="fa-solid fa-thumbtack d-none"></i>
				<i class="fa-solid fa-thumbtack-slash"></i>
				<button type="button" onclick="pinBox(this)" hidden></button>
			</label>
			<label role="button" class="link-secondary" data-bs-toggle="tooltip" data-bs-title="Information">
				<i class="fa-solid fa-ellipsis-vertical"></i>
				<button type="button" onclick="setPenInfoModal(event, this.closest('[mode]'))" data-bs-toggle="modal" data-bs-target="#penInfoModal" hidden></button>
			</label>
		</h3>
		<hr/>
		<div id="payload-table-{{ pen.pen_code }}-container">{% if not pen.payloads.data %}
			No Information
		{% else %}
			<script type="text/javascript">
				document.querySelector(`#payload-table-{{ pen.pen_code }}-container`).append(createPayloadTable({pen_code: "{{ pen.pen_code }}"}));
				const payloads_{{ forloop.counter }} = {{ pen.payloads.data | safe }};
				for (let step in payloads_{{ forloop.counter }}) {
					const x = payloads_{{ forloop.counter }}[step];
					for (let p_name in x) {
						const y = x[p_name];
						insertPayloadTable(document.querySelector("#payload-table-{{ pen.pen_code }}-container table"), {url: y.url, data: y});
					}
				}
			</script>
		{% endif %}</div>
	</article>
{% endfor %}</section>
{% include 'includes/modals.html' %}

{% endblock %}



{% block js_content %}
<script type="text/javascript">
	const boxs = document.querySelectorAll("article:not([hidden])");
	const selectPen = function(isContains=true) {
		const input = document.querySelector("input[name=search]").value.trim();
		for (let box of boxs) {
			const pen_code = box.getAttribute("pen_code");
			box.classList.toggle("d-none", (box.classList.contains("pin") || !input) ? false : isContains ? !pen_code?.toLowerCase().trim().includes(input.toLowerCase().trim()) : pen_code != input);
		}
	}
	selectPen(false);

	const pinBox = function(elem) {
		const isPin = elem.closest('article').classList.toggle('pin');
		const label = elem.closest("label");
		for (let x of label.querySelectorAll('i')) x.classList.toggle('d-none');
		label.classList.toggle("link-secondary", !isPin);
		label.classList.toggle("link-success", isPin);
		selectPen();
	}
</script>
{% endblock %}
