{% extends "base.html" %}

{% block content %}

<section class="border-bottom">
	<input type="text" class="border-0 bg-transparent w-100 lh-lg text-center" style="outline: 0" placeholder="Search..." value="{{ search }}" oninput="selectSim(this.value)">
</section>

<section class="pt-3">{% for sim in sim_codes %}{% if sim.step != 0 %}
	<article id="{{ sim.sim_code }}" class="bg-body shadow rounded-4 my-4 p-3">
		<h3 class="h5">
			<a class="link-secondary me-1" href="{% url 'simulator' sim.sim_code %}" data-bs-toggle="tooltip" data-bs-title="Play"><i class="fa-solid fa-play"></i></a>
			<span>{{ sim.sim_code }}</span>
		</h3>
		<hr/>
		{% if not sim.payload %}No Information{% else %}<div>{% with sim.payload as payload %}
			<span>URL: <a href="{{ payload.url }}">{{ payload.url }}</a></span>
			<div class="table-responsive mt-2" style="max-height: 500px;">
				<table class="table table-sm table-bordered table-hover" style="border-width: 2px;">
					<thead>
						<tr>
							<th scope="col">Method</th>
							<th scope="col">Vulnerability</th>
							<th scope="col">Payload</th>
						</tr>
					</thead>
					<tbody>{% for method, items in payload.methods.items %}
						{% for x in items %}<tr>
							<td field="method">{{ method }}</td>
							<td field="vulnerability" class="text-danger text-center">{% if x.success == 'yes' or x.status == 'data_found' %}<i class="fa-solid fa-check"></i>{% endif %}</td>
							<td field="payload">{{ x.payload }}</td>
						</tr>{% endfor %}
					{% endfor %}</tbody>
				</table>
			</div>
		{% endwith %}</div>{% endif %}
	</article>
{% endif %}{% endfor %}</section>

{% endblock %}



{% block js_content %}
<script type="text/javascript">
	const boxs = document.querySelectorAll("article");
	const selectSim = function(input) {
		for (let box of boxs) {
			box.classList.toggle("d-none", !box.id.toLowerCase().includes(input.toLowerCase()));
		}
	}
	const search = "{{ search }}";
	if (search) {
		selectSim(search);
	}
</script>
{% endblock %}
